html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    background: black;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

#new-lgtm {
    position: fixed;
    top: 10px;
    left: 10px;
}

#lgtm {
    max-height: 100%;
    overflow-y: auto;
}
